{
  "name": "{{pkgName}}",
  "description": "{{pkgDescription}}",
  "version": "{{pkgVersion}}",
  "author": "{{usrName}} <{{usrEmail}}>",
  "bugs": {
    "url": "https://github.com/{{usrGithub}}/{{pkgName}}/issues"
  },
  "devDependencies": {
    "standard": "^12.0.0",
    "tape": "^5.0.0"
  },
  "homepage": "https://github.com/{{usrGithub}}/{{pkgName}}",
  "license": "{{pkgLicense}}",
  "keywords": [{{{pkgKeywords}}}],
  "main": "index.js",
  {{#private}}"private": true,{{/private}}
  "repository": {
    "type": "git",
    "url": "https://github.com/{{usrGithub}}/{{pkgName}}.git"
  },
  "scripts": {
    "test": "standard && node test"
  }
}
